.universe-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.globe {
    width: 200px;
    height: 200px;
    margin: 2rem auto;
    position: relative;
    transform-style: preserve-3d;
    animation: rotate 20s linear infinite;
}

.circle {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(0, 123, 255, 0.3);
    border-radius: 50%;
}

.circle:nth-child(1) {
    transform: rotateY(0deg) rotateX(0deg);
}

.circle:nth-child(2) {
    transform: rotateY(45deg) rotateX(45deg);
}

.circle:nth-child(3) {
    transform: rotateY(90deg) rotateX(90deg);
}

.circle:nth-child(4) {
    transform: rotateY(135deg) rotateX(135deg);
}

.circle:nth-child(5) {
    transform: rotateY(180deg) rotateX(180deg);
}

.circle:nth-child(6) {
    transform: rotateY(225deg) rotateX(225deg);
}

.circle:nth-child(7) {
    transform: rotateY(270deg) rotateX(270deg);
}

.circle:nth-child(8) {
    transform: rotateY(315deg) rotateX(315deg);
}

@keyframes rotate {
    from {
        transform: rotateY(0) rotateX(30deg);
    }

    to {
        transform: rotateY(360deg) rotateX(30deg);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: rgba(255, 255, 255, 0.049);
    color: white;
    backdrop-filter: blur(4px);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-container {
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: Arial, sans-serif;
    font-size: 2.5em;
    color: white;
    text-align: center;
    margin-top: 20px;
}

button {
    font-family: Arial, sans-serif;
    font-size: 1em;
    color: #fff;
    background-color: rgba(0, 123, 255, 0.8);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* min-width: 120px; */
}
.primary-btn{
    width: 10px;
    background: rgba(0, 123, 255, 0.8);
}
button:hover {
    background-color: rgb(126, 183, 243);
}

input {
    font-family: Arial, sans-serif;
    font-size: 1em;
    color: white;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    max-width: 400px;
}

input:focus {
    border-color: #007BFF;
    outline: none;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}